body{
    background-color:  black;
    font-family: system-ui ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    background: url(/icon/header_bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    text-align: center;
    margin-top: 0;
}

.header_nav {
    background-color: rgba(243, 178, 109);
}

.contact {
    background: none;
    border: 0;
    margin-top: 0;
    color: white;
    padding: 10px;
    font-size: 120%;
}

.title {
    margin-top: 0;
    font-weight: 900;
    padding: 15px;
    color: white;
}

.header_button {
    opacity: 1;
    background: none;
    border: 0;
    /*color: white;*/
    width: 250px;
    height: 45px;
    font-weight: 700;
    transition: opacity .2s;
}

.header_button:hover {
    opacity: .6;
}

.header_button_devis {
    background-color: #f3b26d;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    transition: opacity .2s;
}

.header_button_devis:hover {
    opacity: .6;
}

.description {
    color: white;
    text-align: center;
}

.x-line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.y-line {
    background-color: white;
    width: 1px;
    height: 800px;
    margin: 50px;
}

.services {
    background-color: #f3b26d;
    text-align: center;
}

.sections {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.section {
    margin: auto;
    position: relative;
    background:none;
    border: 0;
    width: 650px;
    height: 650px;
    margin-left: 50px;
    color: black;
    margin-bottom: 20px;
    overflow: hidden;
}

.section:hover .slideOnHover {
    transform: translate(0%, -116%);
    width: 638px; 
}

.slideOnHover {
    position: absolute;
    margin: auto;
    background-color: rgba(243, 178, 109, 0.8);
    width: 550px;
    height: 60px;
    object-fit: contain;
    transform: translate(-2.5%, -116%) scaleX(95%); 
    transition: width .2s ease, transform .4s ease;   
}

.section_text {
    margin: auto;
    color: white;
    padding-right: 100px;
    text-align: justify;
    padding-top: 180px;
}

.section_text_title {
    opacity: .5;
}

.section_text_paragraph {
    text-align: justify;
} 

.button_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: box-shadow .2s;
}

footer {
    background-color: #f3b26d;
    text-align: center;
    height: 50px;
}

.section_button {
    background-color: #f3b26d;
    margin-bottom: 50px;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    transition: opacity .2s;
}

.section_button:hover {
    opacity: .6;
}

.devis {
    display: flex;
    flex-direction: row;
}

form {
    margin: auto;
    width: 100%;
    height: 500px;
    text-align: center;
}

.input {
    background-color: rgb(39, 39, 39);
    color: #f3b26d;
    border: 0;
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
}

.checkbox {
    background-color: #f3b26d;
    color: #f3b26d;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns : repeat(auto-fit, 450px);
    gap: 10px;
    margin: 20px;
}

.item {
    margin: 2px;
    background-color: white;
    width: 450px;
    height: 550px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.indication {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: auto;
    background-color: rgba(243, 178, 109, 0.8);
    width: 450px;
    height: 60px;
    object-fit: contain;
    transform: translate(0%, -80%);
    text-align: center;
    padding-top: 10px;
    transition: opacity .2s;
}

.item:hover .indication {
    opacity: .7;
}


 .popup {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background:none;
      text-align: center;
      background-color: rgba(0, 0, 0, .9);
      transition: opacity 0.2s ease;
}

.details {
    width: 100%; 
    height: 50px; 
    background-color: #f3b26d;
}

.popup-content {
      background: white;
      margin: 10% auto;
      padding: 20px;
      width: 80%;
      max-width: 600px;
      text-align: center;
      border-radius: 8px;
      position: relative;
      transition: transform 0.4s ease, opacity 0.4s ease;
}

.popup_grid {
    width: 100%;
    display: grid;
    grid-template-columns : repeat(auto-fit, 540px);
    gap: 15px;
    text-align: center;
}

.popup_image {
    width: 540px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 15%;
}

        /*MediaQuery mobile*/
@media only screen and (max-width: 600px){
    header{
        background-size: 100% 73%;
        text-align: center;
        margin-bottom: 0;
        height: 50%;
    }

    .contact {
        width: 90%;
        text-align: center;
        margin-bottom: 0;
    }

    .header_button_devis {
            width: 40%;
    }

    .title {
        width: 88%;
        padding-right: 25px;
        padding-bottom: 8px;
    }

    .header_nav {
    background-color: rgba(243, 178, 109, 1);
    margin: 0;
    }

    .header_button {
        width: 100%;
        border-bottom: 1px solid black ;  
    }

    .description {
        margin: 5px;
        font-size: 80%;
    }

    .grid {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns : repeat(1, 1fr);
    }

    .item {
        margin: auto;
        border-radius: 10px;
        background-color: white;
        width: 95%;
        height: 95%;
        position: relative;
        overflow: hidden;
    }

    .indication {
        width: 100%;
        height: 15%;
    }

     .popup {
        width: 100%;
        height: 100%;
    }

    .details {
        font-size: 100%;
    }

    .popup_grid {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns : repeat(1, 1fr);
    }

    .popup_image {
        margin: auto;
        padding: 10px;
        width: 95%;
        border-radius: 15px;
    }


    footer {
        width: 100%;
        font-size: 78%;
    }
}

    /*MediaQuery tablet*/
@media only screen and (min-width: 600px) and (max-width:1024px){

    header{
        background-size: 100% 60%;
        text-align: center;
        margin-bottom: 0;
    }

    .contact {
        width: 90%;
        text-align: center;
        margin-bottom: 0;
        font-size: 100%;
    }

    .header_button_devis {
            width: 40%;
            font-size: 100%;
    }

    .title {
        width: 88%;
        padding-right: 25px;
        padding-bottom: 8px;
    }

    .header_nav {
    background-color: rgba(243, 178, 109, 1);
    margin: 0;
    margin-bottom: 10px;
    }

    .header_button {
        width: 100%;
        border-bottom: 1px solid black ; 
        font-size: 100%;
    }

    .description {
        padding: 10px;
        margin: 15px;
        font-size: 115%;
    }

    .x-line {
        margin: auto;
        width: 100%;
        height: 1px;
        background-color: white;
    }

  
     .grid {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .item {
        border-radius: 10px;
        background-color: white;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    .item img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .indication {
        width: 100%;
        height: 15%;
    }

     .popup {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .details {
        font-size: 100%;
    }

    .popup_grid {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns : repeat(2, 1fr);
    }

    .popup_image {
        margin: auto;
        padding: 10;
        width: 100%;
        border-radius: 15px;
    }

    .devis {
        margin-bottom: 20px;
    }

    form {
        font-size: 120%;
    }

    .input {
        width: 90%;
        height: 10%;
        font-size: 100%;
    }

    .date {
        width: 40%;
        height: 10%;
        font-size: 100%;
    }

    .submit {
        width: 40%;
        height: 10%;
        font-size: 100%;
        border-radius: 20px;
    }


    footer {
        margin-top: 200px;
        width: 100%;
        font-size: 100%;
    }

}

    /*MediaQuery large tablet*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    header{
        height: 70%;
        background-size: 100% 80%;
        text-align: center;
        margin-bottom: 0;
    }

    .contact {
        width: 90%;
        text-align: center;
        margin-bottom: 0;
        font-size: 150%;
    }

    .header_button_devis {
            width: 40%;
            font-size: 130%;
    }

}